
.minhalista{
    color:red;
    font-size:30;
}

.listas{
background:black;
}

.imagens{
    text-align:center;
    background:black;
}

.lista {
    color: red;
    font-size:30;
}

#imagem{
    text-align: center;
    border: 7px;
    border-style:solid;
    border-color:blue;
    margin:50px;
} 
    
#link {
      text-align: center;
}

p{
    color: purple;
    font-size: 30;
    text-align: right;
}
h1{
    color: blue;
    text-align: center;
    font-size: 50;
}
h2{
    color: green;
    text-align: left;
    font-size: 40;
}
